	user add:
	<form action="/user" method="post">
		email:<input type="text" name="email" value="" />
		name:<input type="text" name="name" value="" />
		<input type="submit" value="submit" />
	</form>
